{
    "rules": {
        "indent": [
            2,
            2
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true,
        "node": true,
        "meteor": true,
        "jasmine": true,
        "jquery": true,
    },
    "extends": "eslint:recommended",
    "globals": {
        "Lectures": false, 
        "Questions": false,
        "Votes": false,
        "getNumberOfMembersInLecture": false,
        "Fixtures": false,
        "waitForElement": false, 
        "waitForRouter": false
    }
        
}
