<template name="lecturePageFooter">
  <nav  id="lecture-page-footer" class="navbar navbar-default navbar-fixed-bottom">
    <div class="container text-center">
      <form class="row navbar-footer" id="create-question">
        <div class="col-xs-10">
          <input type="text" id='question-text' class="form-control" placeholder="Your question ...">
        </div>
        <div class="col-xs-2">
          <button type="submit" id='btn-create-question' class="btn btn-default btn-block disabled">Send</button>
        </div>
      </form>
    </div>
  </nav>
</template>
