<template name="lecturePageHeader">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container text-center">
      {{#if isChangingTitle}}
        {{> lecturePageHeaderTitleChange}}
      {{else}}
        {{> lecturePageHeaderTitle}}
      {{/if}}
    </div>
  </nav>
</template>

<template name="lecturePageHeaderTitleChange">
  <input id="title-input" value="{{title}}" class="form-control">
</template>

<template name="lecturePageHeaderTitle">
  <h4>
    <span id="title" class="{{#if isAuthor}}changeable{{/if}}">{{title}}</span>
    <small id="number-members">{{numberOfMembers}}</small>
  </h4>
</template>
