<template name="lecturePageHeader">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div id="lecture-page-header" class="container">
      <div class="col-xs-2 col-sm-1">
        <button class="fa fa-angle-left" id="back-button"></button>
      </div>
      <div class="col-xs-10 col-sm-10">
        {{#if isChangingTitle}}
        {{> lecturePageHeaderTitleChange}}
        {{else}}
        {{> lecturePageHeaderTitle}}
        {{/if}}
      </div>
      <div class="col-sm-1 hidden-xs">
        <a class="fa fa-github" id="btn-github" href="https://github.com/minden/GotIt" target="_blank"></a>
      </div>
    </div>
  </nav>
</template>

<template name="lecturePageHeaderTitleChange">
  <input id="title-input" value="{{title}}" class="form-control">
</template>

<template name="lecturePageHeaderTitle">
  <h4>
    <span id="title" class="{{#if isAuthor}}changeable{{/if}}">{{title}}</span>
    <small id="number-of-members">{{numberOfMembers}}</small>
  </h4>
</template>
