<template name="lecturePageFooter">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <form class="row navbar-footer">
        <div class="col-xs-10">
          <input type="text" id='question-text' class="form-control" placeholder="Your question ...">
        </div>
        <div class="col-xs-2">
          <button type="submit" id='create-question' class="btn btn-default btn-block">Send</button>
        </div>
      </form>
    </div>
  </nav>
</template>
