@background-color: #fafafb;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  padding-top: 60px;
  background-color: @background-color;
}

/**
 *----------------------------------------------------------------------------- 
 * General
 *-----------------------------------------------------------------------------
 */

/** Header for both landing and lecture page */
.navbar.navbar-fixed-top {
  background-color: #454453;
  border: 0;

  #application-logo {
    width: 125px;
    margin-top: 7px;
  }

  #btn-github {
    color: #FFF;
    background-color: transparent;
    border: 0;
    font-size: 40px;
    margin-top: 6px;
    margin-right: 10px;
    margin-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

/**
 *-----------------------------------------------------------------------------
 * Landing page
 *-----------------------------------------------------------------------------
 */

.site-wrapper#landing-page {

  height: 100%;
  min-height: 350px;
  min-width: 250px;
  position: relative;
  width: 100%;

  .navbar{
    #create-lecture {
      margin-top: 7px;
    }
  }

  .site-wrapper-inner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: inherit;

    #welcome-text {
      color: #453353;
      font-size: 15px;

      h3, h4 {
        color: #EC971F;
      }

      @media (max-width: 768px) {
        padding-top: 20px;
        text-align: left;
      }
    }

    #enter-form-group {
      background-color: #fff;
      border: 1px solid #edeeee;
      border-radius: 5px;
    }

    #btn-enter-lecture.disabled {
      opacity: 1;
      background-color: #969696;
      border-color: #969696;
    }
  }
}


/**
 *-----------------------------------------------------------------------------
 * Lecture page
 *-----------------------------------------------------------------------------
 */

#lecture-page {
  @minimum-width: 300px;
  min-width: @minimum-width;

  #lecture-page-header {
    min-width: @minimum-width;

    h4 {
      color: #fff;
      margin-top: 15px;
    }

    #title-input {
      font-weight: bold;
      margin-top: 7px;
      text-align: center;
    }

    #title {
      &.changeable:hover {
        cursor: pointer;
      }
    }

    #back-button {
      background-color: transparent;
      border: 0;
      color: #FFF;
      font-size: 40px;
      margin-top: 3px;
    }
  }

  .question {
    border: 1px solid #edeeee;
    position: relative;

    &.animate{
      -webkit-transition: all 300ms 0ms;
      -moz-transition: all 300ms 0ms ease-in;
      -o-transition: all 300ms 0ms ease-in;
      transition: all 300ms 0ms ease-in;
    }

    .panel-body {
      padding: 8px 8px 8px 8px;

      .container-fluid {
        padding-right: 0px;
        padding-left: 0px;

        .question-text {
          margin-bottom: 0px;
          padding: 7px;
        }

        .votes-badge {
          font-size: 15px;
          position: absolute;
          right: -15px;
          top: -9px;
          z-index: 999;
        }

        @media (max-width: 768px) {
          .col-vote-button {
            padding: 0;
            margin-top: 6px;
          }
        }
      }
    }

    .progress {
      margin-bottom: 0px;
      border-top-left-radius: 0px;
      -moz-border-top-left-radius: 0px;
      -webkit-border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      -moz-border-top-right-radius: 0px;
      -webkit-border-top-right-radius: 0px;
    }
  }

  #lecture-page-footer {
    background-color: @background-color;
    border: 0;
    min-width: @minimum-width;

    .navbar-footer {
      .col-xs-10, .col-xs-2 {
        padding: 7px 1px 0 1px;
      }

      .col-xs-10 {
        padding-left: 5px;
      }

      .col-xs-2 {
        padding-right: 5px;
      }
    }

  }
}
