<template name="question">
  <div class="panel panel-default question">

    <div class="panel-body">
      <div class="container-fluid">
        <div class="badge votes-badge">{{numberOfVotes}}/{{numberOfMembersInLecture}}</div>
        <div class="col-sm-10 col-xs-12 question-text well">{{questionText}}</div>
        <div class="col-sm-2 col-xs-12 col-vote-button">
          {{#if votedByMe}}
          <button class="btn btn-success btn-unvote btn-block">Got it!</button>
          {{else}}
          <button class="btn btn-warning btn-vote btn-block">Same here</button>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{percentageOfUsersWhoVoted}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentageOfUsersWhoVoted}}%;">
        {{percentageOfUsersWhoVoted}}%
      </div>
    </div>

  </div>
</template>
